GridBackground
{
    --grid-background-color: var(--cl-colors-light-grey-1);
    --line-color: var(--cl-colors-light-grey-2);
    --thick-line-color: var(--cl-colors-light-grey-3);
    --spacing: var(--cl-metrics-grid-25);
}
